<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craigslist Scraper</title>
    <style type="text/css">
        body { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpi3L59OyMjIxMTEzMzMwMYsDDAAFACXQioEEKyAAFE6Pv37xATWOBG/PnzB6oRoh4ZAAQYANtuCFkrLEJ/AAAAAElFTkSuQmCC'); }
        #item-list { position: relative; }
        .item { margin-bottom: 10px; max-width: 280px; max-height: 280px; float: left; margin-left: 8px; width: 280px;height: 280px; vertical-align: top;overflow: hidden;border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 2px 0 #ddd; background-color: #ddd; }
        .item-title { display: block; font-size: 1.1em; padding: 3px;}
        .item-price { font-weight: bold; padding-left: 20px;}
        .item img { display: block; max-width: 280px;max-height: 210px;width: auto;height: auto;vertical-align: middle; margin: auto; border-radius: 3px; }
    </style>
</head>
<body>
<h2>Craigslist Scraper</h2>
<span>get list of current WRX STi parts for sale in Chicago area</span>
<pre>
    url: {{ baseurl }}
    query: {{ keyword }}

    https://github.com/fatalhalt/CLscrap
</pre>
<div id="item-list">
{% for i in data %}
    <div class="item">
        <a href="{{ baseurl }}{{ i.link }}" class="item-title">{{ i.title }}</a>
        <span class="item-date">{{ i.date }}</span>
        <span class="item-price">{{ i.price }}</span>
        <span class="item-hood">{{ i.hood }}</span>
        <img src="{{ i.img }}" alt="img" />
    </div>
{% endfor %}
</div>
</body>
</html>