<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craigslist Scraper</title>
    <style type="text/css">
        #item-list { position: relative; }
        .item { margin-bottom: 10px; width: 340px; height: 380px; float: left; margin-left: 10px; }
        .item-title { display: block; font-size: 1.3em }
        .item-price { font-weight: bold; padding-left: 20px;}
        .item img { display: block; }
    </style>
</head>
<body>
<h2>Craigslist Scrapper</h2>
<span>get list of current WRX STi parts for sale in Chicago area</span>
<pre>
    url: {{ baseurl }}
    query: {{ keyword }}

    author: fatalhalt
    https://github.com/fatalhalt/CLscrap

</pre>
<div id="item-list">
{% for i in data %}
    <div class="item">
        <a href="{{ baseurl }}{{ i.link }}" class="item-title">{{ i.title }}</a>
        <span class="item-date">{{ i.date }}</span>
        <span class="item-price">{{ i.price }}</span>
        <span class="item-hood">{{ i.hood }}</span>
        <img src="{{ i.img }}" alt="img" />
    </div>
{% endfor %}
</div>
</body>
</html>